.friend { 
    display:flex;
    &__image{
        width:auto;
        height: 200px;
    }
    &__name {
        font-size: 1.2em;
    }
    &__description {
        font-family: "Lat";
        font-size: 1em;
    }

    &__friend--best {
        background-color: palevioletred;
    }
}